<div class="po-wrapper">
  <po-toolbar p-title="TOTVS Login"></po-toolbar>

  <po-login
      p-auto-focus="boolean"
      p-clean="boolean"
      p-disabled="boolean"
      p-error-pattern="string"
      p-help="string"
      p-icon="string"
      p-label="string"
      p-mask="string"
      p-mask-format-model="boolean"
      p-maxlength="number"
      p-minlength="number"
      name="TOTVS HUB"
      p-no-autocomplete="boolean"
      p-optional="boolean"
      p-pattern="string"
      p-placeholder="string"
      p-readonly="boolean"
      p-required="true" >
  </po-login>

  <po-page-default p-title="">
    <po-button
      p-disabled="false"
      p-icon="po-icon-star-filled"
      p-label="Reload"
      p-loading="false"
      p-small="false"
      p-type="default"
      (p-click)="onClickButton()">
    </po-button>

      

  </po-page-default>
</div>
